{% extends "webapp/ES/base.html" %}

{% block home %}

<link rel="stylesheet" href="/static/css/financing.css"/>


<section id="herosection">
    <div class="overlay">
        <div class="container">
           <div class="row">
            <div class="col-md-5">
                <h1 class="fw-bold">
                    Productos de financiación
                </h1>
                <p class="my-3">
                    En Silber Private Bank, ofrecemos una amplia gama de productos financieros diseñados para satisfacer sus diversas necesidades de endeudamiento y ayudarlo a alcanzar sus objetivos financieros. 
                </p>
                <a class="_btn primary_btn mt-2">
                    Cuenta abierta
                </a>
            </div>
           </div>
        </div>
    </div>
</section>

  <section id="aboutsection">
    <div class="container my-3">
        <div class="row my-5 justify-content-center">
            <div class="col-md-8 my-3 text-center">
                <h2>Características clave de nuestros servicios de investigación de inversiones:</h2>
                <p>Whether you’re looking to fund a major purchase, expand your business, or optimize your liquidity, our tailored financing solutions are designed to provide flexibility, convenience, and competitive terms.</p>
            </div>
        </div>

      <div class="row d-flex justify-content-center text-center">
        
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/cutting_edge_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Financiamiento Hipotecario</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>Ya sea que esté comprando una casa nueva, refinanciando una hipoteca existente o invirtiendo en bienes raíces, nuestras opciones de financiamiento hipotecario ofrecen tasas competitivas, términos flexibles y un servicio personalizado para ayudarlo a alcanzar sus objetivos de ser propietario de una vivienda.</small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/experienced_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Soluciones de financiación personalizadas:</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>
                    Entendemos que cada cliente tiene requisitos de financiación únicos. Es por eso que ofrecemos soluciones de financiamiento personalizadas adaptadas a sus circunstancias específicas, ya sea un individuo, propietario de una empresa o inversionista institucional.   
                </small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/commitment_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Préstamos basados en activos</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>
                    Libere el valor de sus activos con nuestras soluciones de préstamos basados en activos, que incluyen líneas de crédito, préstamos a plazo y financiación puente. Desde préstamos respaldados por valores hasta financiación inmobiliaria, brindamos acceso eficiente a la liquidez y al mismo tiempo preservamos el potencial de crecimiento a largo plazo de su cartera de inversiones.
                </small>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/cutting_edge_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Financiamiento Estructurado</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small> 
                    Nuestro equipo de profesionales experimentados se especializa en estructurar transacciones financieras complejas adaptadas a sus necesidades y objetivos únicos. Ya sea que esté financiando una adquisición corporativa, financiando un gasto de capital o reestructurando deuda existente, aprovechamos nuestra experiencia para ofrecer soluciones financieras innovadoras que optimicen su posición financiera.
                </small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/experienced_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Servicios de Banca Privada</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>
                    Como banco privado de primer nivel, ofrecemos soluciones de financiación exclusivas y servicio de conserjería a personas y familias de alto patrimonio. Desde líneas de crédito personalizadas hasta estrategias de gestión patrimonial, ofrecemos soluciones financieras integrales diseñadas para preservar y hacer crecer su patrimonio a lo largo de generaciones.
                </small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/commitment_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Financiamiento Comercial</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>
                    Para las empresas que buscan expandir sus operaciones, financiar capital de trabajo o financiar iniciativas estratégicas, nuestros productos de financiamiento comercial ofrecen términos flexibles, tasas competitivas y soluciones personalizadas para respaldar sus objetivos de crecimiento. Desde préstamos a plazo y líneas de crédito renovables hasta financiación de equipos y financiación comercial.
                </small>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section id="hero2section">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 py-5 align-self-center">
                    <img class="img-fluid" src="/static/images/banner/global_financing_hero_img.jpg" alt="global_financing_hero_image">
                </div>
                 

                <div class="col-md-6 mb-5 align-self-center">
                      <h4 class="fw-bold text_blue">
                        Silber Private Bank,
                      </h4>
                      <h3 class="fw-bold">Experiencia en financiación global</h3>
                      <p class="my-3 mt-5">
                        Con nuestra red global y experiencia internacional, ofrecemos soluciones financieras para transacciones transfronterizas, financiación en moneda extranjera y financiación del comercio internacional. Ya sea que se esté expandiendo a nuevos mercados o gestionando el riesgo cambiario, nuestro equipo tiene el conocimiento y los recursos para ayudarlo a navegar sin problemas las complejidades del financiamiento global.
                      </p>
                      <a class="_btn primary_btn mt-2">
                        Contáctenos
                      </a>
                </div>

                <div class="col-md-12 text-md-center">
                    <p class="mt-5">
                        En Silber Private Bank, estamos comprometidos a brindar soluciones financieras innovadoras y un servicio excepcional para ayudarlo a alcanzar sus objetivos financieros con confianza. Contáctenos hoy para obtener más información sobre nuestros productos financieros y cómo podemos ayudarlo a lograr sus aspiraciones financieras.
                    </p>
                </div>
            </div>
        </div>
</section>

{% endblock %}