{% extends "webapp/CZ/base.html" %}

{% block home %}

<link rel="stylesheet" href="/static/css/financing.css"/>


<section id="herosection">
    <div class="overlay">
        <div class="container">
           <div class="row">
            <div class="col-md-5">
                <h1 class="fw-bold">
                    Finanční produkty
                </h1>
                <p class="my-3">
                    V Silber Private Bank nabízíme komplexní škálu finančních produktů navržených tak, aby vyhovovaly vašim různorodým potřebám a pomohly vám dosáhnout vašich finančních cílů. 
                </p>
                <a class="_btn primary_btn mt-2">
                    Otevřít účet
                </a>
            </div>
           </div>
        </div>
    </div>
</section>

  <section id="aboutsection">
    <div class="container my-3">
        <div class="row my-5 justify-content-center">
            <div class="col-md-8 my-3 text-center">
                <h2>Klíčové vlastnosti našich investičních výzkumných služeb:</h2>
                <p>Ať už hledáte financování většího nákupu, rozšíření svého podnikání nebo optimalizaci své likvidity, naše řešení financování na míru jsou navržena tak, aby poskytovala flexibilitu, pohodlí a konkurenceschopné podmínky.</p>
            </div>
        </div>

      <div class="row d-flex justify-content-center text-center">
        
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/cutting_edge_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Hypoteční financování</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>Ať už kupujete nový domov, refinancujete stávající hypotéku nebo investujete do nemovitostí, naše možnosti hypotečního financování nabízejí konkurenceschopné sazby, flexibilní podmínky a personalizované služby, které vám pomohou dosáhnout vašich cílů vlastnictví nemovitosti.</small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/experienced_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Přizpůsobená finanční řešení:</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>
                    Chápeme, že každý klient má jedinečné finanční požadavky. Proto nabízíme personalizovaná finanční řešení přizpůsobená vašim specifickým okolnostem, ať už jste jednotlivcem, majitelem podniku nebo institucionálním investorem.   
                </small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/commitment_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Financování založené na aktivech</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>
                    Uvolněte hodnotu svých aktiv pomocí našich řešení financování založeného na aktivech, včetně úvěrových linek, termínovaných půjček a přemostovacího financování. Od půjček zajištěných cennými papíry po financování nemovitostí, poskytujeme efektivní přístup k likviditě při zachování dlouhodobého růstového potenciálu vašeho investičního portfolia.
                </small>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/cutting_edge_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Strukturované financování</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small> 
                    Náš tým zkušených odborníků se specializuje na strukturování složitých finančních transakcí přizpůsobených vašim jedinečným potřebám a cílům. Ať už financujete firemní akvizici, financujete kapitálové výdaje nebo restrukturalizujete stávající dluh, využíváme naše odborné znalosti k poskytování inovativních finančních řešení, která optimalizují vaši finanční pozici.
                </small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/experienced_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Služby privátního bankovnictví</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>
                    Jako přední privátní banka nabízíme exkluzivní finanční řešení a concierge služby pro vysoce majetné jednotlivce a rodiny. Od přizpůsobených úvěrových zařízení po strategie řízení bohatství poskytujeme komplexní finanční řešení navržená k zachování a růstu vašeho bohatství po generace.
                </small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/commitment_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Komerční financování</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>
                    Pro podniky, které hledají rozšíření provozu, financování pracovního kapitálu nebo financování strategických iniciativ, naše komerční finanční produkty nabízejí flexibilní podmínky, konkurenceschopné sazby a přizpůsobená řešení na podporu vašich růstových cílů. Od termínovaných půjček a revolvingových úvěrových linek po financování vybavení a obchodní finance.
                </small>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section id="hero2section">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 py-5 align-self-center">
                    <img class="img-fluid" src="/static/images/banner/global_financing_hero_img.jpg" alt="global_financing_hero_image">
                </div>
                 

                <div class="col-md-6 mb-5 align-self-center">
                      <h4 class="fw-bold text_blue">
                        Silber Private Bank,
                      </h4>
                      <h3 class="fw-bold">Globální finanční odbornost</h3>
                      <p class="my-3 mt-5">
                        S naší globální sítí a mezinárodními odbornými znalostmi nabízíme finanční řešení pro přeshraniční transakce, financování v cizí měně a mezinárodní obchodní finance. Ať už expandujete na nové trhy nebo řídíte měnové riziko, náš tým má znalosti a zdroje, které vám pomohou bezproblémově zvládnout složitosti globálního financování.
                      </p>
                      <a class="_btn primary_btn mt-2">
                        Kontaktujte nás
                      </a>
                </div>

                <div class="col-md-12 text-md-center">
                    <p class="mt-5">
                        V Silber Private Bank jsme odhodláni poskytovat inovativní finanční řešení a vynikající služby, které vám pomohou s důvěrou dosáhnout vašich finančních cílů. Kontaktujte nás ještě dnes a dozvíte se více o našich finančních produktech a o tom, jak vám můžeme pomoci dosáhnout vašich finančních ambicí.
                    </p>
                </div>
            </div>
        </div>
</section>

{% endblock %}