{% extends "webapp/base.html" %}

{% block home %}

<link rel="stylesheet" href="/static/css/financing.css"/>


<section id="herosection">
    <div class="overlay">
        <div class="container">
           <div class="row">
            <div class="col-md-5">
                <h1 class="fw-bold">
                  Financing Products
                </h1>
                <p class="my-3">
                    At Silber Private Bank, we offer a comprehensive range of financing products designed to meet your diverse borrowing needs and help you achieve your financial goals. 
                </p>
                <a class="_btn primary_btn mt-2">
                  Open Account
                </a>
            </div>
           </div>
        </div>
    </div>
</section>

  <section id="aboutsection">
    <div class="container my-3">
        <div class="row my-5 justify-content-center">
            <div class="col-md-8 my-3 text-center">
                <h2>Key Features of our Investment Research Services:</h2>
                <p>Whether you’re looking to fund a major purchase, expand your business, or optimize your liquidity, our tailored financing solutions are designed to provide flexibility, convenience, and competitive terms.</p>
            </div>
        </div>

      <div class="row d-flex justify-content-center text-center">
        
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/cutting_edge_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Mortgage Financing</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>Whether you’re purchasing a new home, refinancing an existing mortgage, or investing in real estate, our mortgage financing options offer competitive rates, flexible terms, and personalized service to help you achieve your home ownership goals.</small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/experienced_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Customized Financing Solutions:</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>
                    We understand that every client has unique financing requirements. That’s why we offer personalized financing solutions tailored to your specific circumstances, whether you’re an individual, business owner, or institutional investor.   
                </small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/commitment_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Asset-Based Lending</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>
                    Unlock the value of your assets with our asset-based lending solutions,
including lines of credit, term loans, and bridge financing. From securities-backed loans to real estate financing, we provide efficient access to liquidity while preserving your investment portfolio’s long-term growth potential.
                </small>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/cutting_edge_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Structured Financing</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small> 
                    Our team of experienced professionals specializes in structuring complex financing transactions tailored to your unique needs and objectives. Whether you’re financing a corporate acquisition, funding a capital expenditure, or restructuring existing debt, we leverage our expertise to deliver innovative financing solutions that optimize 
your financial position.
                </small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/experienced_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Private Banking Services</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>
                    As a premier private bank, we offer exclusive financing solutions and
concierge service to high-net-worth individuals and families. From customized credit facilities to
wealth management strategies, we provide comprehensive financial solutions designed to
preserve and grow your wealth over generations.
                </small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/commitment_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Commercial Financing</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>
                    For businesses seeking to expand operations, finance working capital,
or fund strategic initiatives, our commercial financing products offer flexible terms, competitive
rates, and tailored solutions to support your growth objectives. From term loans and revolving
lines of credit to equipment financing and trade finance.
                </small>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section id="hero2section">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 py-5 align-self-center">
                    <img class="img-fluid" src="/static/images/banner/global_financing_hero_img.jpg" alt="global_financing_hero_image">
                </div>
                 

                <div class="col-md-6 mb-5 align-self-center">
                      <h4 class="fw-bold text_blue">
                        Silber Private Bank,
                      </h4>
                      <h3 class="fw-bold">Global Financing Expertise</h3>
                      <p class="my-3 mt-5">
                        With our global network and international expertise, we offer financing solutions for cross-border transactions, foreign currency financing, and international trade finance. Whether you’re expanding into new markets or managing currency risk, our team has the knowledge and resources to help you navigate the complexities of global financing seamlessly.
                      </p>
                      <a class="_btn primary_btn mt-2">
                        Contact Us
                      </a>
                </div>

                <div class="col-md-12 text-md-center">
                    <p class="mt-5">
                        At Silber Private Bank, we are committed to delivering innovative financing solutions and exceptional service to help you achieve your financial objectives with confidence. Contact us today to learn more about our financing products and how we can assist you in achieving your financial aspirations.
                    </p>
                </div>
            </div>
        </div>
</section>

{% endblock %}