{% extends "webapp/base.html" %}

{% block home %}

<link rel="stylesheet" href="/static/css/ourbank.css"/>


<section id="herosection">
    <div class="overlay">
        <div class="container">
           <div class="row">
            <div class="col-md-5">
                <h5>About Us</h5>
                <h1 class="fw-bold text_blue">
                  Silber Private Bank
                </h1>
                <p class="my-3">
                  At Silber Private Bank, we are committed to providing our clients with unparalleled financial services supported by cutting-edge technologies and expertise from seasoned professionals in banking and trading fields. 
                </p>
                <a class="_btn primary_btn mt-2">
                  Contact Us
                </a>
            </div>
           </div>
        </div>
    </div>
</section>

  <section id="aboutsection">
    <div class="container my-3">
        <div class="row my-5">
            <div class="col-md-5 my-3">
                <div>
                    <img height="70" width="70" class="my-3" src="/static/images/innovation_icon.png" alt="">
                    <h3>Our Commitment to Innovation:</h3>
                    <small>We leverage the latest technologies to enhance the efficiency, security, and convenience of our banking services. From advanced digital platforms for seamless account management to robust cybersecurity measures to safeguard your assets, we continuously invest in innovation to deliver an exceptional banking experience tailored to your needs. </small>
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
                <div class="vertical_divider" style="width: 1px;border: 1px solid rgba(26, 64, 136, 1);height: 100%"></div>
            </div>
            <div class="col-md-5 my-3">
                <div>
                    <img height="70" width="70" class="my-3" src="/static/images/trading_icon.png" alt="">
                    <h3>Expertise in Banking and Trading:</h3>
                    <small>Our vision is to be the premier provider of private banking services, trusted by our clients for our commitment to innovation, expertise, and integrity. We strive to build lasting relationships based on mutual trust, transparency, and shared success, empowering our clients to achieve their financial goals with confidence.</small>
                </div>
            </div>
        </div>

      <div class="row d-flex justify-content-center text-center">
        
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/cutting_edge_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Cutting-edge Technology</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>We harness the power of 
                    technology to streamline banking processes, improve accessibility, and deliver innovative solutions that meet the evolving needs 
                    of our clients.</small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/experienced_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Experienced Professionals</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>Our team consists of seasoned professionals with diverse backgrounds in banking, finance, and trading, ensuring that you receive expert guidance and tailored solutions to optimize your financial outcomes.</small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/commitment_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Commitment to Excellence</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>We are committed to excellence in everything we do, from delivering exceptional service and personalized advice to maintaining the highest standards of integrity, transparency, and professionalism.</small>
            </div>
        </div>
        
      </div>
    </div>
  </section>

  <section id="visionsection">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="fw-bold">
                        Our Vision
                      </h1>
                      <p class="my-3">
                        Our vision is to be the premier provider of private banking services, trusted by our clients for our commitment to innovation, expertise, and integrity. We strive to build lasting relationships based on mutual trust, transparency, and shared success, empowering our clients to achieve their financial goals with confidence.  
                      </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}