{% extends "webapp/DE/base.html" %}

{% block home %}

<link rel="stylesheet" href="/static/css/financing.css"/>


<section id="herosection">
    <div class="overlay">
        <div class="container">
           <div class="row">
            <div class="col-md-5">
                <h1 class="fw-bold">
                    Finanzierungsprodukte
                </h1>
                <p class="my-3">
                    Bei der Silber Privatbank bieten wir eine umfassende Palette an Finanzierungsprodukten an, die auf Ihre vielfältigen Kreditbedürfnisse zugeschnitten sind und Ihnen helfen, Ihre finanziellen Ziele zu erreichen. 
                </p>
                <a class="_btn primary_btn mt-2">
                    Offener Account
                </a>
            </div>
           </div>
        </div>
    </div>
</section>

  <section id="aboutsection">
    <div class="container my-3">
        <div class="row my-5 justify-content-center">
            <div class="col-md-8 my-3 text-center">
                <h2>Hauptmerkmale unserer Investment Research Services:</h2>
                <p>Unabhängig davon, ob Sie eine größere Anschaffung finanzieren, Ihr Geschäft erweitern oder Ihre Liquidität optimieren möchten, sind unsere maßgeschneiderten Finanzierungslösungen auf Flexibilität, Komfort und wettbewerbsfähige Konditionen ausgelegt.</p>
            </div>
        </div>

      <div class="row d-flex justify-content-center text-center">
        
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/cutting_edge_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Hypothekenfinanzierung</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>Ganz gleich, ob Sie ein neues Eigenheim kaufen, eine bestehende Hypothek refinanzieren oder in Immobilien investieren: Unsere Hypothekenfinanzierungsoptionen bieten wettbewerbsfähige Zinssätze, flexible Konditionen und persönlichen Service, um Ihnen beim Erreichen Ihrer Wohneigentumsziele zu helfen.</small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/experienced_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Maßgeschneiderte Finanzierungslösungen:</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>
                    Wir verstehen, dass jeder Kunde einzigartige Finanzierungsanforderungen hat. Deshalb bieten wir personalisierte Finanzierungslösungen an, die auf Ihre spezifischen Umstände zugeschnitten sind, egal ob Sie Privatperson, Unternehmer oder institutioneller Investor sind.   
                </small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/commitment_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Vermögensbasierte Kreditvergabe</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>
                    Erschließen Sie den Wert Ihrer Vermögenswerte mit unseren vermögensbasierten Kreditlösungen, einschließlich Kreditlinien, befristeten Darlehen und Überbrückungsfinanzierungen. Von Wertpapierkrediten bis hin zu Immobilienfinanzierungen bieten wir einen effizienten Zugang zu Liquidität und bewahren gleichzeitig das langfristige Wachstumspotenzial Ihres Anlageportfolios.
                </small>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/cutting_edge_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Strukturierte Finanzierung</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small> 
                    Unser Team aus erfahrenen Fachleuten ist auf die Strukturierung komplexer Finanzierungstransaktionen spezialisiert, die auf Ihre individuellen Bedürfnisse und Ziele zugeschnitten sind. Ganz gleich, ob Sie eine Unternehmensübernahme finanzieren, eine Investitionsausgabe finanzieren oder bestehende Schulden umstrukturieren: Wir nutzen unser Fachwissen, um innovative Finanzierungslösungen zu liefern, die Ihre Finanzlage optimieren.
                </small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/experienced_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Private Banking-Dienstleistungen</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>
                    Als führende Privatbank bieten wir vermögenden Privatpersonen und Familien exklusive Finanzierungslösungen und Concierge-Service. Von maßgeschneiderten Kreditfazilitäten bis hin zu Vermögensverwaltungsstrategien bieten wir umfassende Finanzlösungen, die darauf ausgelegt sind, Ihr Vermögen über Generationen hinweg zu bewahren und zu vermehren.
                </small>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <div class="featured_box">
                <div class="my-3">
                    <img src="/static/images/commitment_icon.png" width="70" height="70" alt="">
                </div>
                <h5>Kommerzielle Finanzierung</h5>
                <div class="d-flex justify-content-center">
                    <div class="divider"></div>
                </div>
                <small>
                    Für Unternehmen, die ihre Geschäftstätigkeit erweitern, Betriebskapital finanzieren oder strategische Initiativen finanzieren möchten, bieten unsere kommerziellen Finanzierungsprodukte flexible Konditionen, wettbewerbsfähige Zinssätze und maßgeschneiderte Lösungen zur Unterstützung Ihrer Wachstumsziele. Von befristeten Darlehen und revolvierenden Kreditlinien bis hin zur Ausrüstungsfinanzierung und Handelsfinanzierung.
                </small>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section id="hero2section">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6 py-5 align-self-center">
                    <img class="img-fluid" src="/static/images/banner/global_financing_hero_img.jpg" alt="global_financing_hero_image">
                </div>
                 

                <div class="col-md-6 mb-5 align-self-center">
                      <h4 class="fw-bold text_blue">
                        Silber Privatbank,
                      </h4>
                      <h3 class="fw-bold">Globale Finanzierungsexpertise</h3>
                      <p class="my-3 mt-5">
                        Mit unserem globalen Netzwerk und unserer internationalen Expertise bieten wir Finanzierungslösungen für grenzüberschreitende Transaktionen, Fremdwährungsfinanzierungen und internationale Handelsfinanzierungen. Ganz gleich, ob Sie in neue Märkte expandieren oder das Währungsrisiko verwalten, unser Team verfügt über das Wissen und die Ressourcen, um Sie bei der reibungslosen Bewältigung der Komplexität globaler Finanzierungen zu unterstützen.
                      </p>
                      <a class="_btn primary_btn mt-2">
                        Kontaktiere uns
                      </a>
                </div>

                <div class="col-md-12 text-md-center">
                    <p class="mt-5">
                        Bei der Silber Private Bank sind wir bestrebt, innovative Finanzierungslösungen und außergewöhnlichen Service zu liefern, damit Sie Ihre finanziellen Ziele sicher erreichen können. Kontaktieren Sie uns noch heute, um mehr über unsere Finanzierungsprodukte zu erfahren und wie wir Sie bei der Verwirklichung Ihrer finanziellen Ziele unterstützen können.
                    </p>
                </div>
            </div>
        </div>
</section>

{% endblock %}